.main {
    display: flex;
    justify-content: center;
    background-color: #333333;

    &__content {
        max-width: 1220px;
        background-color: #4f4e4e;
        flex-wrap: wrap;
        display: flex;
        padding: 16px
    }
}

