.item {
    white-space: nowrap;
    text-align: justify;
    margin-right: 12px;
    margin-bottom: 12px;

    &__root {
        max-width: 310;
        transition: transform 0.15s ease-in-out;
    }

    &__card-hovered {
        transform: scale3d(1.05, 1.05, 1);
    }

    &__paper {
        background-color: white;
        padding: 24px 24px;
        border: 1px solid #000;
        box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    }

    &__modal {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin: auto;
    }

    &__rating {
        font-size: 15px;
    }

    &__card {
        color: white;
    }

    &__emoji {
        margin-left: 8px;
    }

    &__review {
        margin-left: 8px;
        float: right;
    }

    &__modal-header {
      display: flex;
      margin-bottom: 18px;
    }

    &__modal-close {
      margin-left: auto;
    }

    &__modal-title {
      margin: 0 0 !important;
    }

    &__modal-review {
      margin: 0 0 !important;
    }
}

.MuiCardContent-root {
    padding: 12px !important;
}

@media only screen and (max-width: 1252px) {
  .MuiCardContent-root {
    padding: 8px !important;
  }

  .item {
    &__title {
      font-size: 12px;
    }
    
    &__rating {
      font-size: 11px;
    }
  }
}

.MuiIconButton-root {
    color: rgb(238, 238, 238) !important;
    padding: 0 !important;
}

.MuiIconButton-root:hover {
    color: white !important;
}
