.item {
    white-space: nowrap;
    text-align: justify;
    margin-right: 12px;
    margin-bottom: 12px;

    &__rating {
        font-size: 15px;
    }

    &__card {
        color: white;
    }

    &__emoji {
        margin-left: 8px;
    }

    &__review {
        margin-left: 8px;
        float: right;
    }
}

.MuiCardContent-root {
    padding: 12px !important;
}

.MuiIconButton-root {
    color: rgb(238, 238, 238) !important;
    padding: 0 !important;
}

.MuiIconButton-root:hover {
    color: white !important;
}

