.navigation {
  &__logo-container {
    margin: auto;
  }

  &__logo {
    width: 185px;
  }
}

.MuiAppBar-colorPrimary {
  background-color: #1F96F3 !important
}

.PrivateTabIndicator-colorSecondary-62 {
  background-color: #fff !important
}

.MuiPaper-elevation4 {
  box-shadow: 2px 2px 3px #888, -2px 2px 3px #888 !important;
}
