.controls {
  width: 100%;

  &__container {
    width: 100%;
  }

  &__top-row {
    display: inline-flex;
    width: 100%;
  }

  @media only screen and (min-width: 1252px) {
    &__container {
      display: flex;
      justify-content: center;
    }
  }

}

.controls-vertical-divider-1,
.controls-vertical-divider-2 {
  margin: 0px 12px !important; 
  width: 2px !important;
  height: 36px !important;
}

@media only screen and (max-width: 1252px) {
  .controls-vertical-divider-2 {
    display: none;
  }
}
