.search {
    display: inline-flex;
    width: 100%;

    @media only screen and (max-width: 1252px) {
      margin-bottom: 12px;

      .MuiInputBase-input {
        font-size: 14px;
      }
    }
}

.search-root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  height: 32;
  width: 100%;
}

.search-input {
  margin-left: 12px;
  flex: 1;
}

.search-icon-btn {
  padding: 12;
}
