.filters {
    display: inline-flex;

    &__label {
        color: white;
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
    }
}

.filters-btn-group {
    margin-left: 12px;
}

@media only screen and (min-width: 1252px) {
    .filters {
        min-width: 698px;
    }
}

@media only screen and (max-width: 1252px) {
    .filters {
        width: 100%;
    }

    .filters-btn-group {
        width: 100%;
    }

    .filters-all-btn,
    .filters-btn {
        width: 14.5%;
        padding: 8px !important;
    }

    .MuiButton-label {
        font-size: 12px;
    }
}

@media only screen and (max-width: 525px) {
    .filters-btn {
        padding: 8px !important;
    }

    .filters {
        &__label {
            font-size: 12px;
            margin-bottom: 6px;
        }
    }

    .MuiButton-label {
        font-size: 11px;
    }
}

@media only screen and (max-width: 420px) {
    .filters-btn {
        padding: 4px !important;
    }
}

