.stats {
  display: block;

  &__label {
    color: white;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }

  &__paper {
    width: 700px;
    background-color: white;
    padding: 18px 18px;
    border: 1px solid #000;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
  }

  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &__modal-header {
    display: flex;
    margin-bottom: 18px;
  }

  &__modal-close {
    margin-left: auto;
  }

  &__modal-title {
    margin: 0 0 !important;
  }
  
}

.stats-btn {
  height: 36px !important;
  width: 50px !important;
  background-color: white !important;
  color: #4f4e4e !important;
}

@media only screen and (max-width: 1252px) {
  .stats {
    &__paper {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 525px) {
  .stats-btn {
    padding: 8px !important;
  }

  .stats {
    &__label {
      font-size: 12px;
      margin-bottom: 6px;
    }

    &__paper {
      width: 80%;
    }
  }
}
