.sort {
    margin-left: 6px;
    display: inline-flex;
    
    &__radio-group,
    &__total-label {
        display: inline-flex;
    }

    &__total-label {
        float: right;
    }

    &__icon {
        margin-right: 12px;
        padding-top: 6px;
    }
}

