.sort {
    display: inline-flex;
    
    &__radio-group,
    &__total-label {
        display: inline-flex;
    }

    &__total-label {
        float: right;
    }

    &__menu-content {
      margin-right: auto;
      display: flex;
    }

    &__menu-label {
      display: inline-flex;
      margin-top: auto;
      margin-bottom: auto;
    }

    &__menu-icon,
    &__menu-item-icon {
      margin-right: 12px;
      display: inline-flex;
    }
}

@media only screen and (max-width: 525px) {
  .sort-btn {
      padding: 12px !important;
  }
}
